[submodule "BioLab/External/glfw"]
	path = BioLab/External/glfw
	url = https://github.com/glfw/glfw
[submodule "BioLab/External/imgui"]
	path = BioLab/External/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "BioLab/External/implot"]
	path = BioLab/External/implot
	url = https://github.com/epezent/implot
[submodule "BioLab/Arduino"]
	path = BioLab/Arduino
	url = https://github.com/ikashii/BioLab_Arduino
[submodule "BioLab/External/imgui-node-editor"]
	path = BioLab/External/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
